body{   background:#c7f1c7;
	background: -webkit-linear-gradient(#b9d4e0, #ffffd3, #c7f1c7);
        background: -ms-linear-gradient(#b9d4e0, #ffffd3, #c7f1c7);
        background: -moz-linear-gradient(#b9d4e0, #ffffd3, #c7f1c7);
        background: -o-linear-gradient(#b9d4e0, #ffffd3, #c7f1c7);
    	background-attachment: fixed;
    `   background-repeat: no-repeat;
}
h1{
padding:2%;
box-sizing:border-box;
height:25%;
font-size:80px;
text-align:center;
}
h1:hover{

}
.intro{

text-align:center;
box-sizing:border-box;
width:100%;
height:40%;
padding:4.5%;
}
.second,.third{
box-sizing:border-box;
width:100%;
padding:0.2%;

height:14.5%;}

.intro:hover,.second:hover,.third:hover{

	background-image: -webkit-linear-gradient(to right,#b9d4e0,  #c7f1c7);
        background-image: -ms-linear-gradient(to right,#b9d4e0,  #c7f1c7);
        background-image: -moz-linear-gradient(to right,#b9d4e0, #c7f1c7);
        background-image: -o-linear-gradient(to right,#b9d4e0, #c7f1c7);
    	background-attachment: fixed;
    `   background-repeat: no-repeat;
    background-image: linear-gradient(to right, #b9d4e0,#c7f1c7);}

span{
font-weight:strong;
font-size:85px;}
hr{
margin:0;}


p{
font-size:35px;
text-align:center;}

.footer{
height:6%;
text-align:center;}
.footer>p{
font-size:15px;

}
a{
text-decoration:none;}
.link:hover{
 transform: translateY(-10px);
    transition: transform 150ms;
font-size:20px;
color:green;}



